<div>
  <div class="heading ion-padding">
    <ion-text>Create a post</ion-text>
    <ion-button size="small" color="dark" fill="clear" shape="round">
      <ion-icon slot="icon-only" size="large" name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="item-divider"></div>

  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-start">
      <ion-col size="auto">
        <ion-avatar>
          <ion-img src="../../../../../assets/user.png"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <div>
          <ion-text>William Pereira</ion-text>
        </div>
        <ion-button size="small" shape="round" fill="outline" color="medium">
          <ion-icon color="dark" name="globe-outline"></ion-icon>
          <ion-icon class="view-status">Anyone</ion-icon>
          <ion-icon color="dark" name="caret-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>